body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.icons {
  font-size: 80px;
  padding-bottom: 100px;
  display: flex;
} 
nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 70px;
  font-size: 16px;
  padding-right: 20px; 
}
a:link {
  color: #b14c5a;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  font-size: 17px;
  text-decoration: underline;
}
a:active {
  text-decoration: none;
} 
nav a {
  padding-left:10px;
}
#contact-me {
  background-color: white; 
  border: none;
  color: #2D3E50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
#contact-me:hover {
  background-color: #b14c5a;
  color: white;
}
nav a:hover {
  background-color: #b14c5a;
  color: white;
  transition-duration: 0.5s;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 400px;
  background: #2D3E50; /* For browsers that do not support gradients */
  background: linear-gradient(to right,#2D3E50 , #6A2E37); /* Standard syntax (must be last) */
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto; 
}
.social {
  display: flex;
}
.social a{
  color:white;
  font-size: 30px;
  margin: 2px;
}
.social a:link {
  color: white;
}
 /* visited link */
.social a:visited {
  color: white;
}
/* mouse over link */
.social a:hover {
  color: #b14c5a;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
/* selected link */
.social a:active {
  color: blue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2D3E50;
  height: 300px;
  width: 50%;
  margin-left: auto;
  margin-right: auto; 
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: #2D3E50;
  width: 50%;
}
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2D3E50;
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  height: 60px;
  background-color: #6A2E37; /* For browsers that do not support gradients */
}
footer a:link {
  color: white;
}
/* visited link */
footer a:visited {
  color: white;
}
/* mouse over link */
footer a:hover {
  font-size: 46px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
/* selected link */
footer a:active {
  color: indigo;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
@media only screen and (max-width: 900px) {
  .icons {
    display: flex;
    flex-direction: column;
    color: #2D3E50;
    width: 100%;
  }
  .container i {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    padding: 0;
    margin: 0;
  }
}